###############################################################################

- Only Dealing with users (logged users) not guests (just viewers).


- Each guest must choose to be a client user or a coach user.
- Admin users can not be a client or a coach.


- Relationships:
    each client must have 1 coach.
    each coach can have 1 or more client or never have.

    each client can have 1 workout plan or never have.
    each workout plan can have 1 or more meal, which each meal must be unique per workout plan, or never have.
    each client cannot have 2 meals with the same type of meals.
    each coach can make 1 or more workout plan or never make.
    each coach can make 1 or more meal or never make.

    each client can have 1 or more recommendation or never have.
    each coach can write 1 or more recommendation per client or never write.
    each recommendation must have 1 client and 1 coach.


- Each client must have name, gender, age, coach, weight, height and his fitness goal.
- Each coach must have name, gender, age.
- Each recommendation must have title, details, client, coach. 
- Each workout plan must have type, details, duration  of the workout, target calories to burn, client, coach.
- Each workout plan result must show all its assigned meals
- Each meal must have type, food items per meal, total calories per meal, eating time, client, coach, workout plan.

- Notes:
    Restrict some attributes in limited choices:
        - gender must be 'male', or 'female'.
        - fitness goal must be 'Lose Weight', or 'Build Muscles', or 'Special Program'.
        - workout plan must be 'GYM', or 'Cardio', or 'GYM & Cardio', or 'Special Sport'.
        - meal must be 'Breakfast', or 'Lunch', or 'Dinner', or 'Snack'.





- Authentication:
    Registration endpoint is allowed for anyone.
    Only who has the JWT token will be allowed.




- Permissions:

    Client:
            - has full ability in his profile.
            - can only view his coach profile (cannot add or edit or delete).
            - can only view his own recommendations, workout, or meals.
            - is restricted to add or modify or delete his own recommendations, workout, or meals.

    Coach:
            - has full ability in his profile.
            - can only view his clients profiles (cannot add or edit or delete his clients profiles).
            - has full ability in his own recommendations, workout, or meals.

    Admin:
            - can view any endpoint without any modification or addition or deletion.
            - has full ability within admin panel.


###############################################################################
